{{>header}}
		<p>Use this site to get the weather</p>
		<form action="" id="weather">
			<input type="text" name="location" id="location" placeholder="Location">
			<button type="submit">Search</button>
		</form>
		<script src='../js/app.js'></script>
{{>footer}}
